---
// docs/src/pages/examples/basic.astro
import Layout from '../../layouts/Layout.astro';
---
<html>
  <body>
    <Layout>
      <rapi-doc id = "thedoc" spec-url = "/specs/petstore.yaml" theme = "dark"> </rapi-doc>
    </Layout>
  </body>
</html>