---
// docs/src/pages/examples/basic.astro
---
<html>
  <head>
    <script type="module" src="/assets/rapidoc-min.js"></script>
  </head>
  <body>
    <rapi-doc spec-url="https://petstore.swagger.io/v2/swagger.json" theme = "dark"> </rapi-doc>
  </body>
</html>