---
// docs/src/pages/examples/basic.astro
import Layout from '../../layouts/Layout.astro';
---
<html>
  <body>
    <Layout>
      <rapi-doc spec-url="https://petstore.swagger.io/v2/swagger.json" theme = "dark"> </rapi-doc>
    </Layout>
  </body>
</html>