---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---
<ExampleLayout>
  <rapi-doc
    id = "thedoc"
    spec-url = {specUrl}
    show-header = "false"
    allow-authentication = "false"
    allow-server-selection = "false"
    show-info = "true"
  > 

    <div class="control-panel" slot="custom-header">
      <div style = "padding:16px; display: flex;justify-content: center; align-items: center;">
        <span>Use</span> <span class='mono yellow' style="margin: 0 5px;">scrollToPath(path:string)</span> <span> method to goto : </span>
      </div>
      <button class="btn" onclick = "rapidocEl.scrollToPath('overview')">Overview</button>
      <button class="btn" onclick = "rapidocEl.scrollToPath('get-/path1-in-closed-tag')">valid path (in collapsed tag)</button>
      <button class="btn" onclick = "rapidocEl.scrollToPath('an-incorrect-path')">non-existant path</button>
      <div style="flex:1"></div>
      <button class='btn yellow' onclick="toggleRenderStyle()">Toggle Render Style</button>
    </div>

  </rapi-doc>
</ExampleLayout>
