---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = "/specs/petstore.yaml" 
    show-header = "false"
    show-info = "true"
    render-style = "read"
  > 

    <div slot="nav-logo" style="display:flex; flex-direction:row; align-items:center; gap:5px;">
      <div> Font Size </div>
      <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'default')" >Default</button>
      <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'large')" >Large</button>
      <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'largest')" >Largest</button>
    </div>

  </rapi-doc>
</ExampleLayout>
