---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = {specUrl}
    show-info = "false"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
    default-schema-tab = "schema"

  > 

    <div slot="nav-logo" style="display:flex; flex-direction:column; align-items: center;">
      <button class='btn large' style="width:150px" onclick="toggleSchemaStyle()">Toggle Schema Style</button>
    </div>  

  </rapi-doc>
</ExampleLayout>

<script is:inline>
  function getRapiDoc() {
    return document.getElementById("thedoc");
  }
  
  function toggleSchemaStyle () {
    if (getRapiDoc().getAttribute('schema-style') === 'table') {
      getRapiDoc().setAttribute('schema-style', 'tree');
    } else {
      getRapiDoc().setAttribute('schema-style', 'table');
    }
  }
</script>
