---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';
const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc
    spec-url={specUrl}
    id = "thedoc"
    show-info = "true"
    show-header="false" 
    render-style="focused"
    allow-try="false" 
    show-method-in-nav-bar = "as-colored-block"
  >
    <div slot="nav-logo" style="height:330px; display:flex; flex-direction: column; align-items:center; gap:12px; font-size:12px; background: #222">
      <div style="display:flex; flex-direction:column; align-items:center; gap:2px"> 
        <span>Navigation Item Text </span>
        <div style="display:flex; flex-direction:row; align-items:center; gap:2px"> 
          <button class='btn' style="width:70px" onclick="document.getElementById('thedoc').setAttribute('use-path-in-nav-bar', 'true')" >Path</button>
          <button class='btn' style="width:70px" onclick="document.getElementById('thedoc').setAttribute('use-path-in-nav-bar', 'false')" >Summary</button>
        </div>  
      </div>
      <div style="display:flex; flex-direction:column; align-items:center; gap:2px"> 
        <span> Display Method on NavBar as </span>
        <div style="display:flex; flex-direction:row; align-items:center; gap:2px"> 
          <button class='btn' style="width:60px" onclick="document.getElementById('thedoc').setAttribute('show-method-in-nav-bar', 'false')" >None</button>
          <button class='btn' style="width:60px" onclick="document.getElementById('thedoc').setAttribute('show-method-in-nav-bar', 'as-plain-text')" >Plain</button>
          <button class='btn' style="width:60px" onclick="document.getElementById('thedoc').setAttribute('show-method-in-nav-bar', 'as-colored-text')" >Colored</button>
          <button class='btn' style="width:60px" onclick="document.getElementById('thedoc').setAttribute('show-method-in-nav-bar', 'as-colored-block')" >Block</button>
        </div>  
      </div>
      <div style="display:flex; flex-direction:column; align-items:center; gap:2px"> 
        <span> Active Nav Item Marker </span>
        <div style="display:flex; flex-direction:row; align-items:center; gap:2px"> 
          <button class='btn' style="width:70px" onclick="document.getElementById('thedoc').setAttribute('nav-active-item-marker', 'left-bar')" >Left Bar</button>
          <button class='btn' style="width:110px" onclick="document.getElementById('thedoc').setAttribute('nav-active-item-marker', 'colored-block')" >Colored Block</button>
        </div>
    </div>
  </rapi-doc>
</ExampleLayout>
