---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = "/specs/petstore.yaml" 
    render-style = "view"
    theme = "light" 
  > 

    <div slot="nav-logo"  style="width:100%; display: flex; flex-direction:column;">
      <div style="display: flex;justify-content: center; margin: 2px 0">
        <button class='btn large' style="width:110px" onclick="toggleTheme()">Toggle Theme</button>
      </div>
    </div>

  </rapi-doc>
</ExampleLayout>

<script is:inline>
  function toggleTheme () {
    const doc = document.getElementById("thedoc");
    if (doc.getAttribute('theme') === 'light') {
      doc.setAttribute('theme', 'dark');
    } else {
      doc.setAttribute('theme', 'light');
    }
  }
</script>