---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = {specUrl}
    show-info = "false"
    show-header = "false"
    allow-server-selection = "false"
    allow-authentication = "false" 
    render-style = "read"
  > 

  <div slot="nav-logo"  style="width:100%; display: flex; flex-direction:column;">
    <div style="display: flex;justify-content: center; margin: 2px 0">
      <button class='btn' style="width:150px" onclick="toggle('allow-try')">Toggle Try</button>
    </div>
  </div>

  </rapi-doc>
</ExampleLayout>
