---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = "/specs/petstore.yaml"
    show-info = "false"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
    default-schema-tab = "schema"
    schema-style='table'
  > 

    <div slot="nav-logo">
      <div style="text-align: center; padding: 0 0 12px 0;"> Default Schema Tab </div>
      <div style="width:100%; display: flex;justify-content: center;">
        <button class='btn medium' onclick="document.getElementById('thedoc').setAttribute('default-schema-tab', 'schema')" >Schema</button>
        <button class='btn medium' onclick="document.getElementById('thedoc').setAttribute('default-schema-tab', 'example')" >Example</button>
      </div>
    </div>

  </rapi-doc>
</ExampleLayout>
