---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = {specUrl}
    show-info = "false"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
    render-style = "read"
    default-schema-tab = "schema"
    allow-try = "false" 
  > 

    <div slot="nav-logo" style="height:120px; display:flex; flex-direction:column; align-items:center; gap:8px;">
      <button class='btn' style="width:150px; margin-bottom:16px" onclick="toggleSchemaStyle()">Toggle Schema Style</button>
      <div>Schema Expand Level </div>
      <div style="display:flex; flex-direction:row; align-items:center;  justify-content:center; gap:5px">
        <button class='btn' onclick="rapidocEl.setAttribute('schema-expand-level', '1')" >1</button>
        <button class='btn' onclick="rapidocEl.setAttribute('schema-expand-level', '2')" >2</button>
        <button class='btn' onclick="rapidocEl.setAttribute('schema-expand-level', '3')" >3</button>
      </div>
    </div>

  </rapi-doc>
</ExampleLayout>

