---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = {specUrl}
    show-info = "false"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
    render-style = "read"
    default-schema-tab = "schema"
    allow-try = "false" 
  > 

    <div slot="nav-logo" style="height:100px">
      <div style="text-align: center; padding: 0 0 12px 0; color:#47AFE8"> Default Schema expand level </div>
      <div style="width:100%; display: flex;justify-content: center;">
        <button class='btn medium' onclick="document.getElementById('thedoc').setAttribute('schema-expand-level', '1')" >1</button>
        <button class='btn medium' onclick="document.getElementById('thedoc').setAttribute('schema-expand-level', '2')" >2</button>
        <button class='btn medium' onclick="document.getElementById('thedoc').setAttribute('schema-expand-level', '3')" >3</button>
      </div>
      <div style="width:100%; display: flex;justify-content: center; margin-top:3px">
        <button class='btn large' style="width:150px" onclick="toggleSchemaStyle()">Toggle Schema Style</button>
      </div>
    </div>

  </rapi-doc>
</ExampleLayout>

<script is:inline>
  function getRapiDoc() {
    return document.getElementById("thedoc");
  }
  
  function toggleSchemaStyle () {
    if (getRapiDoc().getAttribute('schema-style') === 'table') {
      getRapiDoc().setAttribute('schema-style', 'tree');
    } else {
      getRapiDoc().setAttribute('schema-style', 'table');
    }
  }
</script>
