{
  "presets": [ 
    [
      "@babel/preset-env",{ 
        "modules": false, // do not transform modules
        "targets": {"esmodules": true },
      }
    ]
  ],
  "plugins": [
    [
      "template-html-minifier", {
        "modules": {
          "lit-html": ["html"],
          "lit-element": [
            "html",
            {"name": "css", "encapsulation": "style"}
          ],
        },
        "htmlMinifier": {
          "collapseWhitespace": true
        }
      }
    ]
  ]
}