---
// docs/src/layouts/Layout.astro
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <script is:inline type="module" src="/assets/rapidoc-min.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>