---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
---

<ExampleLayout>
  <rapi-doc id = "thedoc" spec-url = "/specs-test/petstore.yaml"> 

    <div class="control-panel" slot="fixed-header">
      <button class='btn' onclick="toggle('show-header')">Toggle Header</button>
      <button class='btn' onclick="toggle('show-info')">Toggle Info</button>
      <button class='btn' onclick="toggle('allow-server-selection')">Toggle Server Selection</button>
      <button class='btn' onclick="toggle('allow-authentication')">Toggle Authentication</button>
      <button class='btn' onclick="toggle('allow-try')">Toggle Try</button>
      <div style="flex:1"></div>
      <button class='btn yellow' onclick="toggleRenderStyle()">Toggle Render Style</button>
    </div>

  </rapi-doc>
</ExampleLayout>
