---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = "/specs-test/schema-title-and-descriptions.yaml"
    show-info = "false"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
    render-style = "read"
    default-schema-tab = "schema"
    schema-style='table'
  > 

    <div slot="nav-logo" style="height:110px; display:flex; flex-direction:column; align-items:center;gap:5px">
      <button class='btn' style="width:150px; margin-bottom:16px" onclick="toggleSchemaStyle()">Toggle Schema Style</button>
      
      <div class="green"> Font Size </div>
      <div style="display:flex; justify-content:center; align-items: center; gap:5px">
        <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'default')" >Default</button>
        <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'large')" >Large</button>
        <button class='btn' onclick="rapidocEl.setAttribute('font-size', 'largest')" >Largest</button>
      </div>
    </div>

  </rapi-doc>
</ExampleLayout>
