---
import ExampleLayout from '../../layouts/ExampleLayout.astro';
import { getSpecUrl } from '../../utils/getSpecUrl';

const specUrl = getSpecUrl(Astro.url);
---

<ExampleLayout>
  <rapi-doc 
    id = "thedoc"
    spec-url = "/specs-test/xxx-of-nesting.yaml" 
    default-schema-tab = "schema"
    render-style = "read"
    show-info = "true"
    show-header = "false"
    allow-authentication = "false" 
    allow-server-selection = "false"
  > 

    <div slot="nav-logo" style="height:120px; display:flex; flex-direction:column; align-items:center; gap:8px;">
      <button class='btn' style="width:150px; margin-bottom:16px" onclick="toggleSchemaStyle()">Toggle Schema Style</button>
    </div>

  </rapi-doc>
</ExampleLayout>

