---
import ExampleLayout from '../layouts/ExampleLayout.astro';
---

<ExampleLayout title="Documentation Not Found">
  <h1>Documentation Not Found</h1>
  <p>The requested API documentation page could not be found.</p>
  <a href="/">Return to Home</a>
</ExampleLayout>