---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import TopBar from '../components/TopBar.astro';
---

<GlobalLayout>
  <TopBar page="examples" showWaves = {false} >
    <div class="hide-in-mobile">
      <img style="width:740px" class="shadow3" src="./assets/images/rapi-mode-read.png">
    </div>
  </TopBar>
  <h1>Examples</h1>
</GlobalLayout>

<style>

</style>