---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import PageBanner from '../components/PageBanner.astro';
---

<GlobalLayout>
  <PageBanner slot="topbar" page="examples" showWaves = {false} >
    <img class="banner-img shadow3" style="transform: rotate(-5deg)" src="./assets/images/rapi-mode-read.png" />
  </PageBanner>
  <main>
    <h1>Examples</h1>
  </main>
</GlobalLayout>

<style>

</style>