---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import Waves from '../components/Waves.astro';
---

<GlobalLayout>
  <Waves/>
  <h1>List Of Examples</h1>
</GlobalLayout>

<style>

</style>