---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import TopBar from '../components/TopBar.astro';
---

<GlobalLayout>
  <TopBar page="example-list" showWaves = {true} />
  <div class="card-grid">
    <div class="card"><b>Card 1</b><br/> with longer content that takes up more space</div>
    <div class="card">Card 2</div>
    <div class="card span-2">Card 3 with longer content that takes up more space</div>
    <div class="card">Card 4 with longer content that takes up more space</div>
    <div class="card">Card 5</div>
    <div class="card">Card 6</div>
    <div class="card">Card 7 with longer content that takes up more space</div>
    <div class="card span-2">Card 8</div>
    <div class="card">Card 9</div>
    
    <div class="card" style="height:150px" >
      <div class="card-corner"/>
      <div class="card-header">
        <img src="./assets/images/color-circle.png">
        Themes
      </div>
      <div class="card-body">
        Card 10 with longer content that takes up more space 
      </div>
    </div>
    
    <div class="card">
      <div class="card-header">
        Rendering Modes
      </div>
      <div class="card-links">
       <div class="card-link"> 
        <div class="link-corner"/>
        View 
      </div>
       <div class="card-link"> 
        <div class="link-corner"/>
        Read 
      </div>
       <div class="card-link"> 
        <div class="link-corner"/>
        Focused 
      </div>
      </div>


    </div>

  </div>
</GlobalLayout>

<style>
  :root {
    --card-width: 250px;
    --card-height: 50px;
    --card-gap: 20px;
    --desktop-margin: 40px;
    --tablet-margin: 20px;
    --mobile-margin: 0;
  }

  .card-grid {
    display: grid;
    font-family: Nunito, 'Open Sans', sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
    grid-auto-rows: minmax(var(--card-height), auto);
    grid-gap: var(--card-gap);
    margin: var(--desktop-margin);
  }

  * {
    transition: all 0.3s ease-out;
  }
  .card {
    display: block;
    position: relative;
    border: 1px solid var(--border-color);
    background-color: var(--card-bg-color);
    // border-image: linear-gradient(45deg, turquoise, greenyellow) 4;
    border-radius: 4px;
    padding: 16px;
    overflow: hidden;
    & .card-header {
      display: flex;
      font-weight: 900;
      margin-bottom: 12px;
      & img {
        height: 24px;
        width: auto;
        margin-right: 12px;
      }
    }
    & .card-body {
      font-weight: 300; 
      color: var(--fg-color-muted);
    }
    & .card-links {
      display: flex;
      font-weight: 300; 
      gap: 10px;
      color: var(--fg-color-muted);
    }
    &:hover {
      cursor: pointer;
      border: 1px solid var(--border-color-hover);
      & > .card-corner {
        margin-right: -16px;
      }
    }
  }

  .card-link {
    display: block;
    position: relative;
    overflow: hidden;
    color:var(--link-color);
    font-weight: 700;
    border: 1px solid #cb6f3199;
    border-radius: 6px;
    padding: 8px 12px;
    font-weight: 300;
    &:hover {
      cursor: pointer;
      border: 1px solid var(--border-color-hover);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      & .link-corner {
        margin-right: -8px;
      }
    }
  }

  .card-corner {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 20px;
    color: var(--bg-color);
    padding: 4px 6px 4px 4px;
    transform: skew(5deg);
    margin-right: -60px;
    background-image: linear-gradient(-45deg, #8d8044 1%, #e17945 100%);
    &::before {
      content: "➜";
    }
  }

  .link-corner {
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    height: 100%;
    width: 16px;
    transform: skew(15deg);
    margin-right: -30px;
    background-image: linear-gradient(-45deg, #8d8044 1%, #e17945 100%);
  }

  .card.span-2 {
    grid-column: span 2;
  }

  @media (max-width: 768px) {
    .card-grid {
      margin: var(--tablet-margin);
    }
  }

  @media (max-width: 480px) {
    .card-grid {
      margin: var(--mobile-margin);
    }
  }
</style>