---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import PageBanner from '../components/PageBanner.astro';
---

<GlobalLayout>
  <PageBanner slot="topbar" page="example-list" showWaves = {true} />
  <main>
    <h1>Mix HTML</h1>
  </main>
</GlobalLayout>

<style>

</style>