---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import PageBanner from '../components/PageBanner.astro';
import '../styles/table.css';
---

<GlobalLayout>
  <PageBanner slot="topbar" page="example-list" showWaves = {true} />
  <main>
    <h1>Mix HTML</h1>
    <hr/>
    <p> To mix your own HTML, just place it in between the <code class = "bold yellow">{`<rapidoc>`}</code> 
      and you should see the content appearing at the top of the main section
    </p>

    <pre class="code-block">
      <code class="language-html">
        {`
        <rapi-doc spec-url = "https://petstore.swagger.io/v2/swagger.json">
          <h1> Hello World !!!  </h1>
        </rapi-doc>
        `}
      </code>
    </pre>
        
    <h2> Placing HTML Content</h2> 
    <p>
      The above code will place your HTML content just at the start of the main content area (below the header), 
      but what if you want to place your HTML in a different location. <span class = "bold yellow"> SLOT</span> 
      is your friend here, It allows you to place your custom HTML content in certain strategic locations 
    </p>
    <p>
      For instance the below code will place the HTML content at the bottom of the very bottom of the API doc. 
      (check <code class="yellow"> slot="footer"</code> attribute of the div)
    </p>
    <pre class="code-block">
      <code class="language-html">
      {`
        <rapi-doc spec-url = "https://petstore.swagger.io/v2/swagger.json">
          <div slot="footer"> The End  </div>
        </rapi-doc>
      `}
      </code>
    </pre>

    <h2> Slots</h2>
    <table class="m-table">
      <tr>
        <th style="width:130px">Slot Name</th>
        <th>Description </th>
      </tr>
      <tr>
        <td class="mono yellow">(default)</td>
        <td>
          any content placed inside <span class="mono yellow"> {`<rapidoc>`} </span> tag, 
          will be shown immediately under the header and above the info section </td>
      </tr>
      <tr>
        <td class="mono yellow">logo</td>
        <td>use this slot to replace the logo </td>
      </tr>
      <tr>
        <td class="mono yellow">header</td>
        <td> The contents of this slot will appear at the header after the spec-url input</td>
      </tr>
      <tr>
        <td class="mono yellow">footer</td>
        <td> The contents of this slot will appear at the bottom of the spec</td>
      </tr>
      <tr>
        <td class="mono yellow">nav-logo</td>
        <td> The contents of this slot will appear on Side navigation bar (only available in read-mode)</td>
      </tr>
    </table>

    <h2> Examples </h2>
    <div style="display:flex; width:100%; flex-wrap:wrap; justify-content:left; gap:20px;">
      <div class = "container">
        <a href="./examples/slots.html"> Embed HTML In RapiDoc </a>
        <div>
          Add html content in various slots
        </div>
      </div>
    </div>
  </main>
</GlobalLayout>

<style>
  .container {
    padding: 1rem;
    max-width: 250px;
    border:1px solid var(--border-color)
  }

</style>