---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import TopBar from '../components/TopBar.astro';
---

<GlobalLayout>
  <TopBar slot="topbar" page="quickstart" showWaves = {true} />
  <h1>Quick Start</h1>
</GlobalLayout>

<style>

</style>