---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import PageBanner from '../components/PageBanner.astro';
---

<GlobalLayout>
  <PageBanner slot="topbar" page="quickstart" showWaves = {true} />
  <h1>Quick Start</h1>
</GlobalLayout>

<style>

</style>