---
import GlobalLayout from '../layouts/GlobalLayout.astro';
import TopBar from '../components/TopBar.astro';
---

<GlobalLayout>
  <TopBar slot="topbar" page="example-list" showWaves = {true} />
  <h1>RapiDoc Mini</h1>
</GlobalLayout>

<style>

</style>