rapi-doc:not(:defined) {
  opacity: 0;
}

a { color:var(--link-color); text-decoration: none;}
.txt {
  width: 100px;
  padding: 8px 12px;
  font-size: 12px;
  font-family: 'Roboto Mono';
  background-color: #333333aa;
  border: 1px solid var(--color-green);
  color: var(--color-green);
  margin: 0 2px;
  border-radius: 2px;
  outline: none;
}
.btn {
  padding: 8px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: normal;
  background: var(--color-green);
  color: #333;
  border: none;
  border-radius: 2px;
  cursor:pointer;
  outline:none;
  &.yellow {
    background: var(--color-yellow);
    color: #333;
  }
  &.small {
    width: 60px;
    height: 24px
  }
  &.medium {
    width: 75px;
    height: 28px
  }
  &.square {
    width: 70px;
    height: 70px;
    font-size: 12px;
    line-height: normal;
  }
}

.control-panel {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 40px;
  border-bottom: 1px solid #777;
  background: #000000aa;
  padding: 16px 12px;
}


