:root {
  --fg-color: #b0b0b0;
  --fg-color-muted: #9198a1;
  --bg-color:#000;
  --accent-color: #e07372;
  --link-color:#f57e2e;
  --banner-text-color: #000;

  /* Border Colors */
  --border-color: #3d444d;
  --border-color-muted: #3d444db3;
  --border-color-hover: #e17945;
  --border-color-link: #e17945bb;
  
  --desktop-margin: 60px;
  --tablet-margin: 20px;
  --mobile-margin: 5px;
  --card-bg-color: #31384055;
  --rapidoc-gradient: linear-gradient(60deg, 
    rgb(193, 0, 0) 0%, 
    rgb(187, 175, 3) 40%,
    rgb(222, 122, 0) 90%
  );

  --color-yellow: #e8bf6a; 
  --color-yellow-dim:#a98a4c;
  --color-salmon: #e07372;
}
body, button {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: var(--fg-color);
  background: var(--bg-color);
  font-weight: 500;
  margin: 5px;
  display: block;
}

main {
  margin: 0 var(--mobile-margin);
}
a {
  color: #3e83bb;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1,h2,h3 {
  margin-block-start: 1em;
  margin-block-end: 0.2em;
  font-weight:300; 
}

.mono, code { font-family: 'Roboto Mono', Monaco, Consolas, monospace; }
.bold { font-weight:700; }
.right { text-align: right; }
.left { text-align: left; }
.fg-color {color: var(--fg-color) }
.gray { color:#777; }
.dark-gray { color:#444; }
.light-gray { color:#aaa; }
.blue { color:steelblue; }
.orange { color:#de7650; }
.yellow {color: var(--color-yellow) }
.yellow-dim {color:var(--color-yellow-dim) }
.salmon {color:var(--color-salmon)}
.small-font {font-size:12px;}
.descr {
  font-size:13px;
  font-weight: normal;
  margin-left:12px;
}
.hide-in-mobile { display:none; }
.banner-img { width: 300px; }
.logo { display:none }

.shadow1 {
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
.shadow2 {
  border-radius:2px;  
  box-shadow: 0 2px 3px rgba(100,100,100,0.12), 0 2px 3px rgba(100,100,100,0.24);
}
.shadow3 {
  border-radius:4px;
  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.btn {
  width: 90px;
  height: 32px;
  padding: 2px;
  font-size: 12px;
  background-color: #008CBA;
  color: #fff;
  border: none;
  margin: 0 2px;
  border-radius: 2px;
  cursor:pointer;
  outline:none;
  &.medium {
    width: 75px;
    height: 28px
  }
  &.small {
    width: 60px;
    height: 24px
  }
  &.square {
    width: 70px;
    height: 70px;
    font-size: 12px;
    line-height: normal;
  }
}

.txt {
  width: 100px;
  height: 30px;
  font-size:13px;
  background-color: #333;
  border: 1px solid #47AFE8;
  color: #fff;
  padding:0 8px;
  margin: 0 2px;
  border-radius: 2px;
  outline:none;
}

@media only screen and (min-width: 768px) {
  main {
    margin: 0 var(--tablet-margin);
  }
  .banner-img { width:500px; }
  .hide-in-mobile { display:inline-block; }
  .logo   { display:block; }
  .code-block { font-size:12px; width:650px; }
}

@media only screen and (min-width: 800px) {
  main {
    margin: 0 var(--desktop-margin);
  }
  .banner-img { width:740px; }
  .hide-in-mobile { display:inline-block; }
  .logo { display:block; }
  .code-block{ font-size:14px; width:730px;}
}

