:root {
  --fg-color: #b0b0b0;
  --fg-color-mute: #9198a1;
  --fg-color-bright: #efefef;
  --bg-color:#1a1a1a;
  --accent-color: #e07372;
  --link-color:#6ebcfc;
  --banner-text-color: #000;

  /* Secondary Colors */
  --color-yellow: #e8bf6a; 
  --color-yellow-dim:#a98a4c;
  --color-salmon: #e07372;
  --color-green: #72e084;
  --color-blue: #6ebcfc; 

  /* Border Colors */
  --border-color: #3d444d;
  --border-color-muted: #3d444db3;
  --border-color-hover: #e17945;
  --border-color-link: #e17945bb;
  
  /* Margins */
  --desktop-margin: 120px;
  --tablet-margin: 20px;
  --mobile-margin: 5px;

  /* Card */
  --card-bg-color: #31384055;

  /* Code Block */
  --code-block-width: 725px;
  --code-block-bg-color: #0a0a0a;

  /* Gradients */
  --rapidoc-gradient: linear-gradient(60deg, 
  rgb(193, 0, 0) 0%, 
  rgb(187, 175, 3) 40%,
  rgb(222, 122, 0) 90%
);

}
body, button {
  font-family: 'Lato', 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.6rem;
  color: var(--fg-color);
  background: var(--bg-color);
  font-weight: 500;
  margin: 0;
  display: block;
  scroll-behavior: smooth;
}

main {
  margin: 0 var(--mobile-margin);
  padding-bottom: 3rem;
}
a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}
h1 { 
  font-size: 2.3rem;
  font-weight:700; 
  margin-block-start: 2.5rem;
  margin-block-end: 0.5rem;
  color: var(--fg-color-bright);
}
h2 { 
  font-size: 1.6rem;
  font-weight:500; 
  margin-block-start: 2rem;
  margin-block-end: 0.4rem;
  color: var(--fg-color-bright);
}
h3 { 
  font-size: 1.2em;
  font-weight:400; 
  margin-block-start: 1.5rem;
  margin-block-end: 0.3rem;
}
p {
  margin-top: 1rem;
}
hr {
  margin: 1rem 0 1.5rem 0;
  border-color: var(--border-color);
}

pre {
  &.code-block {
    background: var(--code-block-bg-color);
    max-width:var(--code-block-width);
    border:1px solid var(--border-color);
    border-radius: 8px;
    margin-bottom: .8rem;
  }
}

.mono, code { font-family: 'Roboto Mono', Monaco, Consolas, monospace; }
.bold { font-weight:700; }
.right { text-align: right; }
.left { text-align: left; }
.small-font {font-size:.85rem;}

.fg-color {color: var(--fg-color) }
.fg-color-mute {color: var(--fg-color-mute)}
.fg-color-bright {color: var(--fg-color-bright)}
.yellow {color: var(--color-yellow) }
.yellow-dim {color:var(--color-yellow-dim) }
.salmon {color:var(--color-salmon)}
.blue { color:var(--color-blue) }
.green {color: var(--color-green) }

.hide-in-mobile { display:none; }
.banner-img { width: 300px; }
.logo { display:none }

@media only screen and (min-width: 768px) {
  body { font-size: 15px; }
  main {
    margin: 0 var(--tablet-margin);
  }
  .banner-img { width:500px; }
  .hide-in-mobile { display:inline-block; }
  .logo   { display:block; }
  .code-block { font-size:12px; width:650px; }
}

@media only screen and (min-width: 1024px) {
  body { font-size: 16px; }
  main {
    margin: 0 var(--desktop-margin);
  }
  .banner-img { width:740px; }
  .hide-in-mobile { display:inline-block; }
  .logo { display:block; }
  .code-block{ font-size:14px; width:730px;}
}

