.m-table {
  width: 100%;
  table-layout: fixed; /* Ensure columns take specified widths */
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 0;
  font-size: 12px;
  tr:hover {
    background-color: #222222aa;
  }
  & th {
    padding: 10px 8px;
    background-color: #55555588;
    font-weight:800;
    color: #eee;
  }
  & td {
    padding: 8px;
    vertical-align: baseline;
    border-bottom: 1px solid #222;
  }
  /* Code block inside table */
  & pre {
    max-width:var(--code-block-width);
    border:1px solid var(--border-color);
    margin-bottom: 24px;
  }
  /* List inside table */
  & ul {
    padding-inline-start: 10px;
    margin-block-start: 0px;
    margin-block-end: 5px;
    list-style-type: square;
  }
  & .name-col {
    text-align: right;
    overflow-wrap: anywhere;
    width: 120px;
  }
  
  & .default-col {
    width: 80px;
    text-align: left;
    border-left: 1px solid var(--border-color-muted);
  }
  
  & .description-col {
    min-width: 150px;
    width: auto;
    text-align: left;
    overflow-wrap: break-word; /* Prevents overflow by breaking long words */
  }
}
.table-title { margin: 12px 0 5px 0; font-weight:bold; }

@media only screen and (min-width: 768px) {
  .m-table {
    font-size: 13px;
    & th { font-size: 15px !important; }
    & pre { max-width:var(--code-block-width);}
    & .name-col { 
      width: 200px;  
      overflow-wrap: break-word; 
    }
    & .default-col { width: 120px; }
    & .description-col { 
      min-width: 150px; 
      font-size: 14px;
    }
  }
}


@media only screen and (min-width: 1024px) {
  .m-table {
    font-size: 13px;
    & th { font-size: 15px !important; }
    & pre { max-width:var(--code-block-width);}
    & .name-col { 
      width: 320px;
      font-size: 14px;
      overflow-wrap: break-word; 
    }
    & .default-col { 
      width: 150px; 
      font-size: 14px;
      overflow-wrap: break-word; 
    }
    & .description-col { 
      min-width: 200px;
      font-size: 16px;
    }
  }
}