* {
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 26px;
}
.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  align-items: center;
}
.split {
  width:100%;
  height:100%;
  padding: 0px;
  border: 1px solid;
}
.edit {
  background-color:#333;
}
.view {
  background-color:whitesmoke;
}
.gutter {
  cursor: ew-resize;
  height: 100%;
  background: grey;
}