body{
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #333;
  font-weight: 500;
  background: #fff;
  margin: 0;
  display: block;
}
a{ 
  color:#0055fd;
  text-decoration: none;
}
a:not(.menu-item):hover { 
  text-decoration: underline;
}
.mono-bold,
code{ font-family: 'Roboto Mono', monospace;}

.mono-bold{
  font-weight:700;
}
.topbar{
  background-color: #233446;
  padding: 6px 24px;
}
.banner {
  padding: 60px 16px;
  background: steelblue;
  color: #fff;
  text-align: center;
  font-weight:300;
}
.banner-title {
  font-size: 38px;
  line-height: 48px;
  font-weight: 300;
  transition: .3s all;
}
.header {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: center;
}

.logo{display:none}
.menu{display:none}
.code-block{
  font-size:12px;
  width:320px;
}
.table-block{
  font-size:12px;
  width:350px;
}

.menu-item {
  margin-right: 12px;
  color: lightsteelblue;
  font-weight: 600;
  text-decoration: none;
  transition: .2s all;
  position: relative;
}
.menu-item:hover {
  color:#fff;
}


.product-name {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  transition: .3s all;
  min-width: 225px;
}


.features,
.qstart,
.feature-list,
.examples,
.api,
.example-list {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  min-height:150px;
}

.examples,
.screenshot-section {
  background-color: #f5f7f9;
}
.screenshot-section.container{
  padding: 120px 64px;
}
.screenshot-section:nth-child(odd){
  background-color: #fff;
}

.footer{
  display:flex;
  flex-direction: row;
  background-color: #444;
  color:#ccc;
}

.footer-item{
  padding: 5px 16px;
}
.footer-item a{
  color:#ccc;
}

.feature-list{
  text-align: left;
}
.container{
  padding: 40px 64px;
}

.feature{
  display:flex;
  flex:1;
  max-width:320px;
  min-width:320px;
  margin:0 8px 24px 8px;
}

.feature-icon{
  min-width:64px;
  min-height:64px;
}

.feature-info{
  display:flex;
  flex-direction: column;
  margin-left:12px;
  text-align:left;
  font-size:16px;
}

.feature-info .feature-title{ font-size:18px;}
.feature-info .feature-descr{ font-size:14px;}

.screenshot{
  max-width:350px; 
  border-radius: 4px;
  height:auto; 
  width:auto
}

.shadow1 {
  box-shadow: 0 2px 2px rgba(0,0,0,0.25);
}
.shadow2{ 
 box-shadow: 0 2px 3px rgba(100,100,100,0.12), 0 2px 3px rgba(100,100,100,0.24);
}
.shadow3 {
  box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.22);
}

.right{
  text-align: right;
}
.gray{
  color:#777;
}
.descr {
  font-size:13px;
  font-weight: normal;
  margin-left:12px;
}

.m-table {
  border-spacing: 0;
  border-collapse: separate;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin: 0;
}
.attr-col{
  width:100px;
  text-align:right
}
.default-col{
  width:70px;
  text-align:left;
}

.m-table tr:first-child td, 
.m-table tr:first-child th {
  border-top: 0 none;
}

.m-table th {
  color: #565656;
  font-size: 12px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: normal;
  background-color: #fafafa;
  vertical-align: bottom;
  border-bottom: 1px solid #ccc;
}

.m-table td, 
.m-table th {
  padding: 4px 5px 4px;
  vertical-align: top;
  border-bottom:1px solid #eee;
}
.m-table th{
  border-bottom:1px solid #aaa;
}

@media only screen and (min-width: 768px){
  .header { justify-content:left }
  .menu   { display:inline-block; }
  .logo   { display:block; }
  .code-block{
    font-size:12px;
    width:650px;
  }
  .table-block{
    font-size:12px;
    width:650px;
  }
  .attr-col{ width:260px;}
  .default-col{ width:100px;}
  
  
  .menu-item {
    margin-left: 20px;
    margin-right: 0;
  }
  .banner {
    padding: 40px 32px 80px 32px;
  }    
  .features {
    padding: 80px 32px;
  }
  
  .features {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .demo {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .screenshot{
    max-width:750px;
  }
}

@media only screen and (min-width: 800px){
  .menu { display:inline-block; }
  .logo { display:block; }
  .code-block{
    font-size:14px;
    width:730px;
  }
  .table-block{
    font-size:14px;
    width:730px;
  }
  .menu-item {
    margin-left: 24px;
    margin-right: 0;
  }
}

h1,h2,h3{
  font-weight:300;
}

