.section { background-color: #f5f7f9;}
.section:nth-child(odd) { background-color: #fff; }

.flex-col,
.section {
  display: flex;
  padding: 48px 8px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-text { width:350px; margin:0 20px;}
.section-img { width:350px;}
.section-left { margin-bottom:24px;}

@media only screen and (min-width: 768px){
  .section { padding: 80px 32px; flex-direction: row;}
  .section-img { width:500px;}
}

@media only screen and (min-width: 1000px) {
  .section { padding: 120px 64px; flex-direction: row;}
  .section-img { width:700px;}
}
